@{
    ViewData["Title"] = "Aubrey is Cool";
}

<h1>Aubrey Beth Fails is the best wife ever</h1>
<br/>

<div>
    <h3>Aubrey is the best wife ever for many reasons. Here are a few:</h3>
    <ul>
        <li>She is very beautiful</li>
        <li>She is pretty cool ig</li>
        <li>She is the funniest person I know</li>
        <li>She is very understanding and kind</li>
        <li>She helps me be better</li>
    </ul>
    <br/>

    <h4>Here is a picture proving how beautiful she is:</h4>
    <img src="~/img/aubrey.jpeg" height="400"/>
    <br/>

    <h3>About Aubrey Fails:</h3>
    <br/>
    <p>Aubrey Fails, originally Aubrey Page, was born in Boston, MA in 2004. She lived most of her life in Provo, UT and attended Timpview High School.
        After high school she attended Utah State University, because in her words, "Wanted to get the heck out of Provo."
        While attending USU she was lucky enough to match with Jacob Fails on Mutual. After much begging, Jacob finally agreed to go on a date with Aubrey.
        On this date Aubrey quickly fell in love with him and on the very next date told him they should get married. 
        While Jacob thought she was pretty chill, he wanted to go on more dates before being sure. They were engaged in April 2023, then married on July 28, 2023.
        Jacob and Aubrey are still happily married and enjoy eating Costco pizza, watching movies, and going skiing.
    </p>
    <br/>
    <h4>Here is a picture of Jacob with his amazing wife:</h4>
    <img src="~/img/together.jpg" height="400" />

    <a asp-controller="Home" asp-action="Tutor">Click here if you would like to learn more about Aubrey Fails</a>
</div>